#falseAnswerInput1{
    display: block;
}
#falseAnswerInput2{
    display: none;
}
#falseAnswerInput3{
    display: none;
}
#falseAnswerInput4{
    display: none;
}
#falseAnswerInput5{
    display: none;
}
#falseAnswerInput6{
    display: none;
}